.fas {
    padding-right: 10px;
    padding-left: 10px;
    cursor: pointer;
}

.item-center {
    text-align: center;
}

.grey-color {
    color: grey;
}

.red-color {
    color: red;
}


#jitsi-iframe{
    margin-left: 20%;
    margin-top: 5%;
}

.section-title h3{
    color: #07294d;
    position: relative;
    padding-bottom: 12px;
    margin-top: 5%;
    margin-left: 8%;
    
    
  }
  .section-title h3::before{
    content: '';
    position: absolute;
    width: 65px;
    height: 3px;
    background-color: #ffc600;
    bottom: 0;
    left: 0;
  
  }
  h3 {
    font-size: 28px;
  }
  h3
  {
     font-family: 'Montserrat', sans-serif;
     font-weight: 700;
     color: #1d2025;
     margin: 0px;
  }

  
  .second-btn {
    display: inline-block;
    font-weight: 500;
    text-align: center;
    border: 1px solid #07294d;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    line-height: 30px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    z-index: 5;
    -webkit-transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
    background-color: #07294d;
    padding: 0px 10px;
    margin:5px;
 }
  .main-btn:hover{
    color: #ffc600;
    border-color: #07294d;
    background-color: #07294d;
  }
